<div class="row justify-content-center">
  <div class="col-xs-12 col-md-4">
    <div class="py-5">
      <h1><%= @cocktail.name %> - Add an ingredients</h1>
      <div class="mb-5">
        <%= simple_form_for([@cocktail, @dose]) do |f| %>
          <%= f.association :ingredient %>
          <%= f.input :description, placeholder: '3cl, 1cas, 10g...' %>
          <%= link_to "Cancel", :back, {:class=>"btn btn-secondary"} %>
          <%= f.submit "Add", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
